html {
    color: #fff;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    background-color: #333;
    position: absolute;
    z-index: 0;
}

p {
    position: absolute;
    z-index: 1;
    margin:20px;
}

.left {

}

.right {
    left: 100%;
    margin-left: -200px;
}

#server_msg {
    font-size: 20px;
    text-align: center;
    top:40%;
    width: 100%;
}

